.flex_column.av-8urz-bec6b6bc34dc18f93b4b68414e693faa{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-8kmf-012d9f15d2de72624c717185700aca71{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-51q3-14d25220e9c9442e8b9e7f65198deaca{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

.flex_column.av-2xkf-3d3fbef1dee5be31d3acdb06b92e825e{
border-radius:0px 0px 0px 0px;
-webkit-border-radius:0px 0px 0px 0px;
-moz-border-radius:0px 0px 0px 0px;
}

#top .togglecontainer.av-kauk9seu-bb37c83c07454360cdb97c7482b7f7cc p.toggler.activeTitle{
color:#ff0000;
border-color:#ff0000;
}

